body{
	background: url("../img/bg.png") repeat;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 2.4em;
	margin: 5px 10px;
	color: #dcdcdc;
}

h2{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background: #2e2e2e;
	width: 100%;
	padding: 10px 0;
	color: #8cc864;
	font-size: 1.6em;
	z-index: 0;
}

nav {	
	position: fixed;
	left: 0;
	top: 0;
	width: 100px;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 10;
}

nav ul{
	list-style: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

nav li{
	text-align: right;
	padding: 0;
}

nav li > a{
	background: #2e2e2e;
	color: #dcdcdc;
	height: 100%;
	width: 90px;
	padding: 9% 20px 9% 0;
	float: right;
	text-decoration: none;
}

nav a:hover {
	color: #8cc864;
	background: url("../img/linen.png") repeat;
	z-index: 10;
}

nav img{

	width: 90%;
	margin: 10% 5%;

}
/* Gallery CSS taken from Design Couch - http://www.designcouch.com/home/why/2013/11/01/responsive-css3-lightbox-with-no-javascript/ */

a{
	text-decoration: none;
}
/* Styles the thumbnail */

a.lightbox img {
	height: 200px;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	margin: 10px 5px 5px 10px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
	margin: auto;
	position: absolute;
	top: 0;
	left:-150px;
	right:0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	border: 3px solid #2e2e2e;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	z-index: 10;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background: white;
	color: black;
	text-decoration: none;
	position: absolute;
	top: -80px;
	right: 150px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Added additional close option so clicking the image closes it as well */
a.lightbox-close-i {
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
}

.lightbox-target:target img {
	max-height: 80%;
	max-width: 80%;
	z-index: 10;
}

.lightbox-target:target a.lightbox-close {
		top: 0px;
}

/* End code block from Design Souch */


/* Was an attempt to create slide transitions between anchors for galleries, but further
digging shows I'd either have to use a radio-button hack (would break with the light box close)
or bring in JS/Jquery, which isn't allowed */

.container a{
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* responsive design */

@media all and (max-width: 700px){

	.container {
		width: 70%;
	}

	a.lightbox img {
		width: 100%;
		height: auto;
		box-shadow: 0px 0px 8px rgba(0,0,0,.3);
		margin: 10px auto;
	}
}

@media all and  (max-width: 500px){

	nav {
		position: fixed;
		left: -80px;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}

	nav:hover{
		left: 0px;
	}
}